<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/mediaqueries.css" />
  </head>
  <body>
    <nav id="desktop-nav">
      <div class="logo">Pascal Esteves</div>
      <div>
        <ul class="nav-links">
          <li><a href="#about">About</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    <nav id="hamburger-nav">
      <div class="logo">Pascal Esteves</div>
      <div class="hamburger-menu">
        <div class="hamburger-icon" onclick="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu-links">
          <li><a href="#about" onclick="toggleMenu()">About</a></li>
          <li><a href="#experience" onclick="toggleMenu()">Experience</a></li>
          <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
        </div>
      </div>
    </nav>
    <section id="profile">
      <div class="section__pic-container">
        <img src="static/images/perfil_photo.png" alt="Pascal profile picture">
      </div>
      <div class="section__text">
        <p class="section__text__p1">Hello, I'm</p>
        <h1 class="title">Pascal Esteves</h1>
        <p class="section__text__p2">Python Developer</p>
        <div class="btn-container">
          <button
            class="btn btn-color-1"
            onclick="window.open('static/documents/Pascal Garcia Esteves - CV.pdf')"
          >
            Download CV
          </button>
          <button class="btn btn-color-1" onclick="location.href='./#contact'">
            Contact Info
          </button>
        </div>
        <div id="socials-container">
          <img
            src="static/images/linkedin.png"
            alt="My LinkedIn profile"
            class="icon"
            onclick="location.href='https://www.linkedin.com/in/pascal-esteves-53023587/'"
          />
          <img
            src="static/images/github.png"
            alt="My Github profile"
            class="icon"
            onclick="location.href='https://github.com/PascalEsteves'"
          />
        </div>
      </div>
    </section>
    <section id="about">
      <p class="section__text__p1">Get To Know More</p>
      <h1 class="title">About Me</h1>
      <div class="section-container">
        <div class="section__pic-container">
          <img
            src="static/images/about_photo.jpeg"
            alt="Profile picture"
            class="about-pic"
          />
        </div>
        <div class="about-details-container">
          <div class="about-containers">
            <div class="details-container">
              <img
                src="static/images/experience_logo.jpg"
                alt="Experience icon"
                class="icon"
              />
              <h3>Experience</h3>
              <p>7+ years <br> Python Developer</p>
              <p>4+ years <br> AI Developer </p>
            </div>
            <div class="details-container">
              <img
                src="static/images/education_logo.png"
                alt="Education icon"
                class="icon"
              />
              <h3>Education</h3>
              <p>Master Degree in Electrical & Computer Science <br>Instituto Superior Técnico</p>
            </div>
          </div>
          <div class="text-container">
            <p class="paragraph__description">
              I'm Pascal Garcia Esteves, an experienced Python Developer with a background in Electrical and Computer Science Engineering.
              I specialize in Python and cloud-based data solutions, with a strong track record in designing, building, and optimizing data pipelines
              and platforms. My expertise extends to implementing AI and machine learning models to uncover insights and support data-driven decision-making.
              With a deep understanding of both technical execution and business strategy, I work closely with cross-functional teams to deliver scalable,
              high-performance solutions, ensuring seamless project execution and effective knowledge transfer.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="experience">
      <p class="section__text__p1">Know More About My</p>
      <h1 class="title">Experience</h1>
      <div class="experience-details-container">
        <div class="about-containers">
          <div class="details-container">
            <h2 class="experience-sub-title">Programming language</h2>
            <div class="article-container">
              <article>
                <img
                  src="static/images/python_icon.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>Python</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <img
                  src="static/images/sql_icon.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>SQL</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <img
                  src="static/images/html_icon.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>HTML</h3>
                  <p>Intermediate</p>
                </div>
              </article>
              <article>
                <img
                  src="static/images/c_icon.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>C</h3>
                  <p>Basic</p>
                </div>
              </article>
              <article>
                <img
                  src="static/images/css_icon.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>Css</h3>
                  <p>Basic</p>
                </div>
              </article>
              <article>
                <img
                  src="static/images/r_icon.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>R</h3>
                  <p>Basic</p>
                </div>
              </article>
            </div>
          </div>
          <div class="details-container">
            <h2 class="experience-sub-title">Databases & Storage</h2>
            <div class="article-container">
              <article>
                <img
                  src="static/images/db_ralation_logo.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>PostgreSQL</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <img
                src="static/images/db_ralation_logo.png"
                alt="Experience icon"
                class="icon"
                />
                <div>
                  <h3>Azure SQL Server</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <img
                src="static/images/db_ralation_logo.png"
                alt="Experience icon"
                class="icon"
                />
                <div>
                  <h3>Redshift</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <img
                src="static/images/db_ralation_logo.png"
                alt="Experience icon"
                class="icon"
                />
                <div>
                  <h3>MySql</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <img
                src="static/images/mongodb_logo.svg"
                alt="Experience icon"
                class="icon"
                >
                <div>
                  <h3>MongoDb</h3>
                  <p>Intermediate</p>
                </div>
              </article>
              <article>
                <img
                src="static/images/storage_icon.png"
                alt="Experience icon"
                class="icon"
                >
                <div>
                  <h3>S3/Blob Storage</h3>
                  <p>Experienced</p>
                </div>
              </article>
            </div>
          </div>
          <div class="details-container">
            <h2 class="experience-sub-title">Tools & Clould</h2>
            <div class="article-container">
              <article>
                <img
                  src="static/images/docker_icon.webp"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>Docker</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <img
                  src="static/images/github.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>Git</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <img
                  src="static/images/rabbit_mq_icon.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>RabbitMQ</h3>
                  <p>Intermediate</p>
                </div>
              </article>
              <article>
                <img
                  src="static/images/ai_tools.jpg"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>AI Tools</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <img
                  src="static/images/lang_chain_icon.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>LangChain</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <img
                  src="static/images/clould_icon.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>AWS/Azure</h3>
                  <p>Experienced</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="contact">
      <p class="section__text__p1">Get in Touch</p>
      <h1 class="title">Contact Me</h1>
      <div class="contact-info-upper-container">
        <div class="contact-info-container">
          <img
            src="static/images/email_icon.jpg"
            alt="Email icon"
            class="icon contact-icon email-icon"
          />
          <p><a href="mailto:pascalgesteves@gmail.com">pascalgesteves@gmail.com</a></p>
        </div>
        <div class="contact-info-container">
          <img
            src="static/images/linkedin.png"
            alt="LinkedIn icon"
            class="icon contact-icon"
            onclick="location.href='https://www.linkedin.com/in/pascal-esteves-53023587/'"
          />
          <p><a href='https://www.linkedin.com/in/pascal-esteves-53023587/'>LinkedIn</a></p>
        </div>
      </div>
    </section>
    <script src="script.js"></script>
  </body>
</html>